<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>
		<add name ="ketnoi" connectionString="Data Source=DESKTOP-TKH6OOF\SQLEXPRESS;Initial Catalog=QLKS_N3;Integrated Security=True"/>
	</connectionStrings>
	<appSettings>
		<add key="duongdananh" value="C:\Users\ADMIN\Pictures"/>
	</appSettings>
</configuration>